.tile {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px;
  background-color: White;
  text-align: center;
  line-height: 80px;
  font-size: 60px;
  vertical-align: top;
  position: relative;
}

#gameArea {
  display: grid;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@keyframes fadeG {
  from {
    background-color: White;
  }
  to {
    background-color: Green;
  }
}

@keyframes fadeOj {
  from {
    background-color: White;
  }
  to {
    background-color: Orange;
  }
}

@keyframes fadeGrey {
  from {
    background-color: White;
  }
  to {
    background-color: lightgray;
  }
}
